@model Pay.WebApp.Pages.Start.StartViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_GuestLayout";
}


<section class="jumbotron text-center">
<div class="container">
    <h1 class="jumbotron-heading">Payments made easy</h1>
    <p class="lead text-muted">Pay a friend from any device.</p>
    <p>
    <a href="@Model.SignUpUrl" class="btn btn-primary">Get Started</a>
    </p>
</div>
</section>